#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  color: #555;
}

.task-form {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.task-input {
  padding: 5px;
  width: 200px;
  margin-right: 10px;
}

.save-button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.save-button:hover {
  background-color: #0056b3;
}

.task-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding: 5px;
}

.task-checkbox {
  margin-right: 10px;
}

.task-text {
  flex-grow: 1;
  
}

.completed {
  text-decoration: line-through;
  color: grey;
}

.remove-button {
  padding: 5px 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.remove-button:hover {
  background-color: darkred;
}

.filter-buttons-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}


.filter-btn {
  border: 1px solid #363636;
  padding: 8px 16px;
  background-color: white;
  color: #333;
  cursor: pointer;
  font-size: 14px;
  outline: none;
  transition: background-color 0.2s ease;/
}



.filter-btn:hover {
  background-color: #d2d0d0;
  border-color:  black;
}

.filter-btn.active {
  background-color: #333;
  color: white;
}
